$main_color: #ffd600
$dark_color: #232426
$dark_color_soft: #6d6d6d
$text_color: #232426
$bg_color: #f2f2f2
$shadow_color: #6d6d6d
$block-a-color: #00a6ff
//---------------------
body
	margin: 0
	padding: 0
	background-color: $bg_color
	font-size: 100%
body:hover
	cursor: default
a:hover
	-webkit-transition: color 600ms ease, background-color 600ms ease
	-moz-transition: color 600ms ease, background-color 600ms ease
	-ms-transition: color 600ms ease, background-color 600ms ease
	-o-transition: color 600ms ease, background-color 600ms ease
	transition: color 600ms ease, background-color 600ms ease
a:hover
	text-decoration: none
	cursor: pointer
a:visited
	text-decoration: none
section
	position: relative
//-------------start------------
#loader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 1000
#loaderInner
	background-image: url("../../img/preloader.gif")
	background-size: cover
	background-repeat: no-repeat
	background-position: center center
	background-color: #fff
	height: 60px
	width: 60px
	margin-top: -30px
	margin-left: -30px
	left: 50%
	top: 50%
	position: absolute
.bigMenu
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0
	z-index: 800
	background-color: rgba(0,0,0,.9)
	display: none
.bigTable
	display: table
	width: 100%
	height: 100%
	.bigDescript
		display: table-row
		.bigWrapper
			display: table-cell
			text-align: center
			vertical-align: middle
	ul
		list-style: none
		padding: 0
		margin: 0
		width: 100%
		display: inline-block
		a
			display: block
			width: 100%
			padding: 15px 0
			font-family: VantaThin, arial, sans-serif
			font-size: 250%
			letter-spacing: 1px
			text-transform: uppercase
			color: $bg_color
			-webkit-transition: color 600ms ease, background-color 600ms ease
			-moz-transition: color 600ms ease, background-color 600ms ease
			-ms-transition: color 600ms ease, background-color 600ms ease
			-o-transition: color 600ms ease, background-color 600ms ease
			transition: color 600ms ease, background-color 600ms ease
		a:hover
			background-color: rgba(255,255,255,.1)
			color: $main_color
.champName
	position: fixed
	width: 100%
	text-align: center
	background-color: $main_color
	z-index: 100
	left: 0
	top: 0
	.logo
		position: absolute
		//width: 45px
		width: 5em
		//height: 45px
		//height: 100%
		top: 0
		left: 0
		margin: 0 0 0 13px
		padding: 5px 0 8px 0
	h1
		font-size: 450%
		//margin: 5px 0
		margin: 0 3% 0 3%
		font-family: UniSansHeavy, impact, sans-serif
		letter-spacing: 4px
	a
		color: $dark_color
//-----sandwich-------
//$w: 40px
$w: 3.5em
//$h: 7px
$h: $w*0.175
#sandwich
	width: $w
	height: $w*0.914
	position: fixed
	top: 16px
	right: 13px
	z-index: 900
.sw-topper
	position: relative
	top: 0
	width: $w
	height: $h
	background: $dark_color
	border: none
	border-radius: 4px 4px 4px 4px
	z-index: 900
	-webkit-transition: transform 0.5s, top 0.2s, background 0.5s
	-moz-transition: transform 0.5s, top 0.2s, background 0.5s
	-ms-transition: transform 0.5s, top 0.2s, background 0.5s
	-o-transition: transform 0.5s, top 0.2s, background 0.5s
	transition: transform 0.5s, top 0.2s, background 0.5s
.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h
	background: $dark_color
	border: none
	border-radius: 4px 4px 4px 4px
	z-index: 900
	-webkit-transition: transform 0.5s, top 0.2s, background 0.5s
	-moz-transition: transform 0.5s, top 0.2s, background 0.5s
	-ms-transition: transform 0.5s, top 0.2s, background 0.5s
	-o-transition: transform 0.5s, top 0.2s, background 0.5s
	transition: transform 0.5s, top 0.2s, background 0.5s
	transition-delay: 0.2s, 0s
.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h*2
	background: $dark_color
	border: none
	border-radius: 4px 4px 4px 4px
	z-index: 900
	-webkit-transition: all 0.5s, background 0.5s
	-moz-transition: all 0.5s, background 0.5s
	-ms-transition: all 0.5s, background 0.5s
	-o-transition: all 0.5s, background 0.5s
	transition: all 0.5s, background 0.5s
	transition-delay: 0.1s
#sandwich.active
	.sw-topper
		top: 14px
		transform: rotate(140deg)
		background: $bg_color
	.sw-bottom
		top: 7px
		transform: rotate(-140deg)
		background: $bg_color
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)
		background: $bg_color
//-----------end-sandwich-------
.topSlider
	width: 100%
.topMenu
	//display: none
	width: 100%
	height: 50px
	background-color: $main_color
	z-index: 20
	position: absolute
	top: 60px
	box-shadow: 0 0 35px $shadow_color
	ul
		z-index: 20
		position: absolute
		bottom: 0
		list-style: none
		padding: 0
		margin: 10px 0
		li
			display: inline
			font-family: VantaThin, arial, sans-serif
			font-size: 210%
			padding: 0 15px
			a
				color: $dark_color
				-webkit-transition: color 600ms ease
				-moz-transition: color 600ms ease
				-ms-transition: color 600ms ease
				-o-transition: color 600ms ease
				transition: color 600ms ease
			a:hover
				color: $dark_color_soft
.countDown
	width: 100%
	position: absolute
	bottom: 0
	background-color: $main_color
	text-align: center
	z-index: 20
	box-shadow: 0 0 35px $shadow_color
	h1
		font-family: UniSansHeavy, impact
		font-size: 400%
		color: $dark_color
		letter-spacing: 4px
		margin: 0
		padding: 0
		text-transform: uppercase
	p
		width: 450px
		text-align: left
		margin: 0 auto
		font-family: impact
		font-size: 200%
		color: $dark_color
		letter-spacing: 2px
		padding: 0
	pre
		margin: 0
		padding: 0
.pageTitle
	width: 100%
	position: absolute
	bottom: 0
	background-color: $main_color
	text-align: center
	z-index: 20
	box-shadow: 0 0 35px $shadow_color
	h1
		font-family: UniSansHeavy, impact
		font-size: 450%
		color: $dark_color
		letter-spacing: 4px
		margin: 0
		padding: 25px 0
		text-transform: uppercase
//-------------------
.underline-main
	height: 22px
	width: 250px
	position: relative
	left: 50%
	top: 0
	margin: 0 -125px
	overflow: hidden
	.underline-line
		height: 4px
		width: 250px
		background-color: $main_color
		margin: 0
		padding: 0
		position: absolute
		top: 18px
	.underline-square
		width: 30px
		height: 30px
		border: 4px solid $main_color
		position: absolute
		left: 53%
		margin: 5px -21px
		-webkit-transition: transform 0.1s
		-moz-transition: transform 0.1s
		-ms-transition: transform 0.1s
		-o-transition: transform 0.1s
		transition: transform 0.1s
		transform: rotate(-45deg)
	-webkit-transition: transform 0.1s
	-moz-transition: transform 0.1s
	-ms-transition: transform 0.1s
	-o-transition: transform 0.1s
	transition: transform 0.1s
	transform: rotate(-180deg)
.underline-dark
	height: 22px
	width: 250px
	position: relative
	left: 50%
	top: 0
	margin: 0 -125px
	overflow: hidden
	.underline-line
		height: 4px
		width: 250px
		background-color: $dark_color
		margin: 0
		padding: 0
		position: absolute
		top: 18px
	.underline-square
		width: 30px
		height: 30px
		border: 4px solid $dark_color
		position: absolute
		left: 53%
		margin: 5px -21px
		-webkit-transition: transform 0.1s
		-moz-transition: transform 0.1s
		-ms-transition: transform 0.1s
		-o-transition: transform 0.1s
		transition: transform 0.1s
		transform: rotate(-45deg)
	-webkit-transition: transform 0.1s
	-moz-transition: transform 0.1s
	-ms-transition: transform 0.1s
	-o-transition: transform 0.1s
	transition: transform 0.1s
	transform: rotate(-180deg)
//-------------------------
.block-white
	width: 100%
	z-index: 10
	padding: 40px 0
	h1
		text-align: center
		font-family: corbel, arial
		font-size: 300%
		text-transform: uppercase
		margin: 0 0 15px 0
		letter-spacing: 1px
		color: $dark_color
	p
		text-align: center
		font-family: MyriadPro, arial
		font-size: 200%
		color: $dark_color_soft
		margin: 20px 80px 0 80px
.block-yellow
	width: 100%
	z-index: 20
	padding: 40px 0
	background-color: $main_color
	box-shadow: 0 0 35px $shadow_color
	h1
		text-align: center
		font-family: corbel, arial
		font-size: 300%
		text-transform: uppercase
		margin: 0 0 15px 0
		letter-spacing: 1px
		color: $dark_color
	p
		text-align: center
		font-family: MyriadPro, arial
		font-size: 200%
		color: $dark_color
		margin: 20px 80px 0 80px
.partners
	.partnerLogo
		margin-top: 15px
		-webkit-transition: background-color 600ms ease
		-moz-transition: background-color 600ms ease
		-ms-transition: background-color 600ms ease
		-o-transition: background-color 600ms ease
		transition: background-color 600ms ease
	.partnerLogo:hover
		background-color: rgba(0,0,0,.1)
.orgs
	h3
		text-align: left
		font-family: corbel, arial
		font-size: 250%
		text-transform: uppercase
		margin: 22px 0
		letter-spacing: 1px
		color: $dark_color_soft
	.iasa h3
		text-align: right
	.orgrow
		padding: 10px 0
		-webkit-transition: background-color 600ms ease
		-moz-transition: background-color 600ms ease
		-ms-transition: background-color 600ms ease
		-o-transition: background-color 600ms ease
		transition: background-color 600ms ease
	.orgrow:hover
		background-color: rgba(0,0,0,.1)
//--home-page-----
	//.welcome
	//.whatIsNeed
	//.howToSolveShort
	//.structure
	//.howToFormat
	//.partners
	//orgs
//---schedule--------------------
.schedule
	width: 100%
	z-index: 10
	padding: 40px 0
	height: 600px
	h1
		text-align: center
		font-family: corbel, arial
		font-size: 300%
		text-transform: uppercase
		margin: 0 0 15px 0
		letter-spacing: 1px
		color: $main_color
	$length: 100%
	$box-height: 160px
	.scheduleItemBox
		width: 100%
		position: relative
		opacity: 0.5
		margin-top: 30px
		.scheduleItem
			position: absolute
			display: inline-block
			width: $length/4-1%
			height: $box-height
			background-color: white
			z-index: 15
			padding: 0 15px
			overflow: hidden
			h4
				color: black
				text-align: center
				font-family: verdana, arial
				font-size: 300%
				z-index: 18
				margin: 0
				padding: 10px 0
				border-bottom: 1px solid black
			p
				color: black
				text-align: center
				font-family: corbel, arial
				font-size: 200%
				z-index: 18
				margin: 10px 0
		.i1
			left: $length/4*0
		.i3
			left: $length/4*1
		.i5
			left: $length/4*2
		.i7
			left: $length/4*3
		.i2
			right: $length/4*2+13%
			top: $box-height+64px
		.i4
			right: $length/4*1+13%
			top: $box-height+64px
		.i6
			right: $length/4*0+13%
			top: $box-height+64px
	.rotsqBox1
		position: relative
		left: -15px
		z-index: 15
	.rotsqBox2
		position: relative
		right: -35px
		z-index: 15
	.rotsq
		position: absolute
		display: inline-block
		width: 50px
		height: 50px
		-webkit-transform: rotate(-45deg)
		-moz-transform: rotate(-45deg)
		-ms-transform: rotate(-45deg)
		-o-transform: rotate(-45deg)
		transform: rotate(-45deg)
		background-color: white
	.r1
		left: $length/8*1
		top: $box-height - 43
	.r3
		left: $length/8*3
		top: $box-height - 43
	.r5
		left: $length/8*5
		top: $box-height - 43
	.r7
		left: $length/8*7
		top: $box-height - 43
	.r2
		right: $length/8*6
		top: $box-height+58
	.r4
		right: $length/8*4
		top: $box-height+58
	.r6
		right: $length/8*2
		top: $box-height+58
	.timeLineBox
		position: relative
		width: 100%
		top: $box-height+30px
		.timeLine
			position: relative
			width: 100%
			height: 6px
			background-color: white
			opacity: 0.5
			.timePoint
				display: inline-block
				width: 20px
				height: 20px
				border-radius: 10px
				background-color: white
				position: absolute
				top: -7px
			.n1
				left: $length/8*1
			.n2
				left: $length/8*2
			.n3
				left: $length/8*3
			.n4
				left: $length/8*4
			.n5
				left: $length/8*5
			.n6
				left: $length/8*6
			.n7
				left: $length/8*7
//-----end-schedule-------------------
//----aboutCases-page----------
	//.caseHistory
	//.whatIsCase
.example2014
	box-shadow: 0 0 35px black
	h1
		font-family: arial, sans-serif
.exPres2014
	z-index: 0
	background-color: #2f2f2f
	.pres
		/*height: 220px*/
		margin-top: 17px
	h1
		color: $main_color
	h3
		text-align: center
		font-family: corbel, arial
		font-size: 250%
		text-transform: uppercase
		margin: 0 0 15px 0
		letter-spacing: 1px
		color: $dark_color
	a
		-webkit-transition: color 600ms ease
		-moz-transition: color 600ms ease
		-ms-transition: color 600ms ease
		-o-transition: color 600ms ease
		transition: color 600ms ease
.howToSolve
	box-shadow: 0 0 35px black
.linkButton
	text-align: center
	position: relative
	border: 1px solid $main_color
	/*width: 400px*/
	margin: 10px auto
	-webkit-transition: background-color 600ms ease
	-moz-transition: background-color 600ms ease
	-ms-transition: background-color 600ms ease
	-o-transition: background-color 600ms ease
	transition: background-color 600ms ease
	p
		padding: 12px 30px
		font-family: MyriadPro, arial
		font-size: 180%
		margin: 0
.linkButton:hover
	background-color: rgba(0,0,0,.1)
.reasonToSolve
	p
		text-align: left
//------correspTour-page-------------
	//.correspTour
	//.howToFormat
	//.howToSolveShort
.cryteria
	.cryteriaItem
		padding-top: 15px
		-webkit-transition: background-color 600ms ease
		-moz-transition: background-color 600ms ease
		-ms-transition: background-color 600ms ease
		-o-transition: background-color 600ms ease
		transition: background-color 600ms ease
		.procentBox
			width: 100%
			text-align: center
			border: 1px solid white
			margin: 0
			h3
				position: relative
				margin: 0 20px
				border-bottom: 1px solid white
				font-family: MyriadPro, arial
				font-size: 330%
			p
				position: relative
				top: 40%
				margin: 0
				font-family: MyriadPro, arial
				font-size: 270%
		.text
			margin: 15px 0 0 0
			text-align: left
	.cryteriaItem:hover
		background-color: rgba(0,0,0,.1)
//---------register-page------------------
.registration
	background-color: #111111
	color: #a1a1a1
	font-family: VantaThin, arial, sans-serif
	font-size: 220%
	padding: 40px 0
	#teamNameGuide, #member1EmailGuide
		opacity: 0
		-webkit-transition: opacity 600ms ease
		-moz-transition: opacity 600ms ease
		-ms-transition: opacity 600ms ease
		-o-transition: opacity 600ms ease
		transition: opacity 600ms ease
	input
		background-color: #222222
		border: none
		padding: 10px 30px
		width: auto
		margin: 10px 0
	.inpContainer
		width: 400px
		margin: 0 auto
	.generalInfo
		border-bottom: 1px solid #222222
		margin-bottom: 15px
		h3
			font-size: 300%
			text-align: center
			letter-spacing: 1px
			margin-top: 0
		input
			width: 400px
	.optional
		border-top: 1px solid #222222
		padding-top: 15px
		margin-top: 15px
		overflow: hidden
		height: auto
		-webkit-transition: height 600ms ease
		-moz-transition: height 600ms ease
		-ms-transition: height 600ms ease
		-o-transition: height 600ms ease
		transition: height 600ms ease
		.num4, .num5, .num6
			display: none
	.guidelines
		text-align: center
		margin: 5px 0 !important
	.profile
		text-align: center
		border-left: 1px solid #222222
		border-right: 1px solid #222222
		-webkit-transition: background-color 600ms ease
		-moz-transition: background-color 600ms ease
		-ms-transition: background-color 600ms ease
		-o-transition: background-color 600ms ease
		transition: background-color 600ms ease
		h3
			margin-bottom: 0
		p
			margin: 0 0 25px 0
		ul
			list-style: none
		.courseSel
			text-align: left
			//width: 360px
			width: 333px
			margin: 0 auto
			.courseTitle
				float: left
			li
				padding: 0
				display: inline
				//margin-left: 10px
				margin-left: 5px
	.profile:hover
		background-color: rgba(255,255,255,.02)
	.submit
		width: 100%
	.submitData, #addPerson
		width: 100%
		border: 1px solid #222222
		margin: 10px 0
		padding: 10px 30px
		background: none
		text-align: center
		-webkit-transition: background-color 600ms ease
		-moz-transition: background-color 600ms ease
		-ms-transition: background-color 600ms ease
		-o-transition: background-color 600ms ease
		transition: background-color 600ms ease
		p
			margin: 0
			color: #a1a1a1
	.submitData:hover, #addPerson:hover
		background-color: #222222
	.trProfSubm
		width: 333px
//------training-page----------
.training
	overflow: hidden
	p
		margin: 20px 0
	.contProfile
		p
			margin: 0
		span
			font-size: 150%
			margin: 10px auto
		border-left: 2px solid $bg_color
		border-right: 2px solid $bg_color
		padding-top: 152px
		padding-bottom: 151px
		-webkit-transition: background-color 600ms ease, border-color 600ms ease
		-moz-transition: background-color 600ms ease, border-color 600ms ease
		-ms-transition: background-color 600ms ease, border-color 600ms ease
		-o-transition: background-color 600ms ease, border-color 600ms ease
		transition: background-color 600ms ease, border-color 600ms ease
	.contProfile:hover
		background-color: rgba(0,0,0,.1)
	.ss:hover
		border-color: $main_color
		border-color: $main_color
	.imgContainer
		width: 20em
		height: 20em
		margin: 40px auto 20px auto
		border-radius: 10em
		overflow: hidden
		img
			object-fit: cover
//------org-page---------------
.org
	h1
		text-align: left
		margin: 0
		padding: 30px 0 15px 0
		border-bottom: 4px solid $main_color
	#kse
		border-bottom: 4px solid #1452a5
	p
		text-align: left
		margin: 0
	.vkButton
		width: 4em
		height: 4em
		margin: 7px 5px 0 0
		display: inline-block
//--------contacts--------------------
.contacts
	overflow: hidden
	p
		margin: 20px 0
	#lastEmail
		margin-bottom: 0
	.contProfile
		p
			margin: 0
		span
			font-size: 150%
		border-left: 2px solid $bg_color
		border-right: 2px solid $bg_color
		padding-top: 1px
		padding-bottom: 15px
		-webkit-transition: background-color 600ms ease, border-color 600ms ease
		-moz-transition: background-color 600ms ease, border-color 600ms ease
		-ms-transition: background-color 600ms ease, border-color 600ms ease
		-o-transition: background-color 600ms ease, border-color 600ms ease
		transition: background-color 600ms ease, border-color 600ms ease
	.contProfile:hover
		background-color: rgba(0,0,0,.1)
	.ss:hover
		border-color: $main_color
		border-color: $main_color
	.kse:hover
		border-color: #1452a5
		border-color: #1452a5
	.imgContainer
		width: 20em
		height: 20em
		margin: 40px auto 20px auto
		border-radius: 10em
		overflow: hidden
		img
			object-fit: cover
	.org1
		margin-bottom: 20px
	.org2
		margin-top: 20px
//----------------------------------
footer
	position: relative
	bottom: 0
	width: 100%
	height: 60px
	background-color: $dark_color
	box-shadow: 0 0 25px $shadow_color
	overflow: hidden
	p
		display: inline
		color: $bg_color
		font-family: VantaThin, arial, sans-serif
		font-size: 150%
		margin: 0
		position: relative
		margin: 20px 0 20px 0
	#right
		float: right
	#left
		float: left
	a
		color: $bg_color
		-webkit-transition: color 600ms ease
		-moz-transition: color 600ms ease
		-ms-transition: color 600ms ease
		-o-transition: color 600ms ease
		transition: color 600ms ease
	a:hover
		color: #ffe662
