@media only screen and (max-width:361px){
  body{width:360px;}
  #sandwich{left: 310px;}
  .orgrow{padding:0;}
  .kse h3{margin-top:0;}
  .courseSel{width:523px !important;}
}
@media only screen and (max-width:400px){
   .champName{text-align:left;}
}
@media only screen and (max-width:450px){
  .block-white p{margin:10px 0 0 0;}
  .block-yellow p{margin:10px 0 0 0;}
}
@media only screen and (max-width:530px){
  footer #left{display:none;}
  .logo{display:none;}
}
@media only screen and (max-width:700px){
}
@media only screen and (max-width:900px){
  .champName span{display:none;}
}
@media only screen and (max-width:990px){
  .orgLogoCont{display:none;}
  /*#sandwich{top: 12px;}*/
  .orgs h3{text-align:center !important;}
  .tsindex{background-image:url(../../img/Digital-Skills.jpg);}
  .tsreg{background-image:url(../../img/registration.jpg);}
  .tscortour{background-image:url(../../img/correspTour.jpg);}
  .tstrain{background-image:url(../../img/training.jpg);}
  .tsabout{background-image:url(../../img/aboutCase.jpg);}
  .tsorg{background-image:url(../../img/org.jpg);}
  .tscont{background-image:url(../../img/contacts.jpg);}
  .topSlider{
    background-size:cover;
    background-repeat:no-repeat;
    background-position-y:center;
   }
}
@media only screen and (min-width:990px) and (max-width:1200px){
  .iasa{padding:7px 0;}
  .iasa h3{margin:17px 0;}
  .kse h3{margin:0;}
  .kse .orgLogoCont{margin:7px 0;}
}
@media only screen and (max-width:1200px){
  .topMenu{display:none}
}