body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-size: 100%;
}
body:hover {
    cursor: default;
}
a:hover {
    -webkit-transition: color 600ms ease, background-color 600ms ease;
    -moz-transition: color 600ms ease, background-color 600ms ease;
    -ms-transition: color 600ms ease, background-color 600ms ease;
    -o-transition: color 600ms ease, background-color 600ms ease;
    transition: color 600ms ease, background-color 600ms ease;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    text-decoration: none;
}
section {
    position: relative;
}
#loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#loaderInner {
    background-image: url("../../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
.bigMenu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}
.bigTable {
    display: table;
    width: 100%;
    height: 100%;
}
.bigTable .bigDescript {
    display: table-row;
}
.bigTable .bigDescript .bigWrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.bigTable ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
}
.bigTable ul a {
    display: block;
    width: 100%;
    padding: 15px 0;
    font-family: VantaThin, arial, sans-serif;
    font-size: 250%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f2f2f2;
    -webkit-transition: color 600ms ease, background-color 600ms ease;
    -moz-transition: color 600ms ease, background-color 600ms ease;
    -ms-transition: color 600ms ease, background-color 600ms ease;
    -o-transition: color 600ms ease, background-color 600ms ease;
    transition: color 600ms ease, background-color 600ms ease;
}
.bigTable ul a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffd600;
}
.champName {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #ffd600;
    z-index: 100;
    left: 0;
    top: 0;
}
.champName .logo {
    position: absolute;
    width: 5em;
    top: 0;
    left: 0;
    margin: 0 0 0 13px;
    padding: 5px 0 8px 0;
}
.champName h1 {
    font-size: 450%;
    margin: 0 3% 0 3%;
    font-family: UniSansHeavy, impact, sans-serif;
    letter-spacing: 4px;
}
.champName a {
    color: #232426;
}
#sandwich {
    width: 3.5em;
    height: 3.199em;
    position: fixed;
    top: 16px;
    right: 13px;
    z-index: 900;
}
.sw-topper {
    position: relative;
    top: 0;
    width: 3.5em;
    height: 0.6125em;
    background: #232426;
    border: none;
    border-radius: 4px 4px 4px 4px;
    z-index: 900;
    -webkit-transition: transform 0.5s, top 0.2s, background 0.5s;
    -moz-transition: transform 0.5s, top 0.2s, background 0.5s;
    -ms-transition: transform 0.5s, top 0.2s, background 0.5s;
    -o-transition: transform 0.5s, top 0.2s, background 0.5s;
    transition: transform 0.5s, top 0.2s, background 0.5s;
}
.sw-bottom {
    position: relative;
    width: 3.5em;
    height: 0.6125em;
    top: 0.6125em;
    background: #232426;
    border: none;
    border-radius: 4px 4px 4px 4px;
    z-index: 900;
    -webkit-transition: transform 0.5s, top 0.2s, background 0.5s;
    -moz-transition: transform 0.5s, top 0.2s, background 0.5s;
    -ms-transition: transform 0.5s, top 0.2s, background 0.5s;
    -o-transition: transform 0.5s, top 0.2s, background 0.5s;
    transition: transform 0.5s, top 0.2s, background 0.5s;
    transition-delay: 0.2s, 0s;
}
.sw-footer {
    position: relative;
    width: 3.5em;
    height: 0.6125em;
    top: 1.225em;
    background: #232426;
    border: none;
    border-radius: 4px 4px 4px 4px;
    z-index: 900;
    -webkit-transition: all 0.5s, background 0.5s;
    -moz-transition: all 0.5s, background 0.5s;
    -ms-transition: all 0.5s, background 0.5s;
    -o-transition: all 0.5s, background 0.5s;
    transition: all 0.5s, background 0.5s;
    transition-delay: 0.1s;
}
#sandwich.active .sw-topper {
    top: 14px;
    transform: rotate(140deg);
    background: #f2f2f2;
}
#sandwich.active .sw-bottom {
    top: 7px;
    transform: rotate(-140deg);
    background: #f2f2f2;
}
#sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
    background: #f2f2f2;
}
.topSlider {
    width: 100%;
}
.topMenu {
    width: 100%;
    height: 50px;
    background-color: #ffd600;
    z-index: 20;
    position: absolute;
    top: 60px;
    box-shadow: 0 0 35px #6d6d6d;
}
.topMenu ul {
    z-index: 20;
    position: absolute;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.topMenu ul li {
    display: inline;
    font-family: VantaThin, arial, sans-serif;
    font-size: 210%;
    padding: 0 15px;
}
.topMenu ul li a {
    color: #232426;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -ms-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
}
.topMenu ul li a:hover {
    color: #6d6d6d;
}
.countDown {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #ffd600;
    text-align: center;
    z-index: 20;
    box-shadow: 0 0 35px #6d6d6d;
}
.countDown h1 {
    font-family: UniSansHeavy, impact;
    font-size: 400%;
    color: #232426;
    letter-spacing: 4px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.countDown p {
    width: 450px;
    text-align: left;
    margin: 0 auto;
    font-family: impact;
    font-size: 200%;
    color: #232426;
    letter-spacing: 2px;
    padding: 0;
}
.countDown pre {
    margin: 0;
    padding: 0;
}
.pageTitle {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #ffd600;
    text-align: center;
    z-index: 20;
    box-shadow: 0 0 35px #6d6d6d;
}
.pageTitle h1 {
    font-family: UniSansHeavy, impact;
    font-size: 450%;
    color: #232426;
    letter-spacing: 4px;
    margin: 0;
    padding: 25px 0;
    text-transform: uppercase;
}
.underline-main {
    height: 22px;
    width: 250px;
    position: relative;
    left: 50%;
    top: 0;
    margin: 0 -125px;
    overflow: hidden;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transform: rotate(-180deg);
}
.underline-main .underline-line {
    height: 4px;
    width: 250px;
    background-color: #ffd600;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18px;
}
.underline-main .underline-square {
    width: 30px;
    height: 30px;
    border: 4px solid #ffd600;
    position: absolute;
    left: 53%;
    margin: 5px -21px;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transform: rotate(-45deg);
}
.underline-dark {
    height: 22px;
    width: 250px;
    position: relative;
    left: 50%;
    top: 0;
    margin: 0 -125px;
    overflow: hidden;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transform: rotate(-180deg);
}
.underline-dark .underline-line {
    height: 4px;
    width: 250px;
    background-color: #232426;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 18px;
}
.underline-dark .underline-square {
    width: 30px;
    height: 30px;
    border: 4px solid #232426;
    position: absolute;
    left: 53%;
    margin: 5px -21px;
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transform: rotate(-45deg);
}
.block-white {
    width: 100%;
    z-index: 10;
    padding: 40px 0;
}
.block-white h1 {
    text-align: center;
    font-family: corbel, arial;
    font-size: 300%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    color: #232426;
}
.block-white p {
    text-align: center;
    font-family: MyriadPro, arial;
    font-size: 200%;
    color: #6d6d6d;
    margin: 20px 80px 0 80px;
}
.block-yellow {
    width: 100%;
    z-index: 20;
    padding: 40px 0;
    background-color: #ffd600;
    box-shadow: 0 0 35px #6d6d6d;
}
.block-yellow h1 {
    text-align: center;
    font-family: corbel, arial;
    font-size: 300%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    color: #232426;
}
.block-yellow p {
    text-align: center;
    font-family: MyriadPro, arial;
    font-size: 200%;
    color: #232426;
    margin: 20px 80px 0 80px;
}
.partners .partnerLogo {
    margin-top: 15px;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.partners .partnerLogo:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.orgs h3 {
    text-align: left;
    font-family: corbel, arial;
    font-size: 250%;
    text-transform: uppercase;
    margin: 22px 0;
    letter-spacing: 1px;
    color: #6d6d6d;
}
.orgs .iasa h3 {
    text-align: right;
}
.orgs .orgrow {
    padding: 10px 0;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.orgs .orgrow:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.schedule {
    width: 100%;
    z-index: 10;
    padding: 40px 0;
    height: 600px;
}
.schedule h1 {
    text-align: center;
    font-family: corbel, arial;
    font-size: 300%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    color: #ffd600;
}
.schedule .scheduleItemBox {
    width: 100%;
    position: relative;
    opacity: 0.5;
    margin-top: 30px;
}
.schedule .scheduleItemBox .scheduleItem {
    position: absolute;
    display: inline-block;
    width: 24%;
    height: 160px;
    background-color: white;
    z-index: 15;
    padding: 0 15px;
    overflow: hidden;
}
.schedule .scheduleItemBox .scheduleItem h4 {
    color: black;
    text-align: center;
    font-family: verdana, arial;
    font-size: 300%;
    z-index: 18;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid black;
}
.schedule .scheduleItemBox .scheduleItem p {
    color: black;
    text-align: center;
    font-family: corbel, arial;
    font-size: 200%;
    z-index: 18;
    margin: 10px 0;
}
.schedule .scheduleItemBox .i1 {
    left: 0%;
}
.schedule .scheduleItemBox .i3 {
    left: 25%;
}
.schedule .scheduleItemBox .i5 {
    left: 50%;
}
.schedule .scheduleItemBox .i7 {
    left: 75%;
}
.schedule .scheduleItemBox .i2 {
    right: 63%;
    top: 224px;
}
.schedule .scheduleItemBox .i4 {
    right: 38%;
    top: 224px;
}
.schedule .scheduleItemBox .i6 {
    right: 13%;
    top: 224px;
}
.schedule .rotsqBox1 {
    position: relative;
    left: -15px;
    z-index: 15;
}
.schedule .rotsqBox2 {
    position: relative;
    right: -35px;
    z-index: 15;
}
.schedule .rotsq {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: white;
}
.schedule .r1 {
    left: 12.5%;
    top: 117px;
}
.schedule .r3 {
    left: 37.5%;
    top: 117px;
}
.schedule .r5 {
    left: 62.5%;
    top: 117px;
}
.schedule .r7 {
    left: 87.5%;
    top: 117px;
}
.schedule .r2 {
    right: 75%;
    top: 218px;
}
.schedule .r4 {
    right: 50%;
    top: 218px;
}
.schedule .r6 {
    right: 25%;
    top: 218px;
}
.schedule .timeLineBox {
    position: relative;
    width: 100%;
    top: 190px;
}
.schedule .timeLineBox .timeLine {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: white;
    opacity: 0.5;
}
.schedule .timeLineBox .timeLine .timePoint {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: -7px;
}
.schedule .timeLineBox .timeLine .n1 {
    left: 12.5%;
}
.schedule .timeLineBox .timeLine .n2 {
    left: 25%;
}
.schedule .timeLineBox .timeLine .n3 {
    left: 37.5%;
}
.schedule .timeLineBox .timeLine .n4 {
    left: 50%;
}
.schedule .timeLineBox .timeLine .n5 {
    left: 62.5%;
}
.schedule .timeLineBox .timeLine .n6 {
    left: 75%;
}
.schedule .timeLineBox .timeLine .n7 {
    left: 87.5%;
}
.example2014 {
    box-shadow: 0 0 35px black;
}
.example2014 h1 {
    font-family: arial, sans-serif;
}
.exPres2014 {
    z-index: 0;
    background-color: #2f2f2f;
}
.exPres2014 .pres {
    /*height: 220px */
    margin-top: 17px;
}
.exPres2014 h1 {
    color: #ffd600;
}
.exPres2014 h3 {
    text-align: center;
    font-family: corbel, arial;
    font-size: 250%;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    color: #232426;
}
.exPres2014 a {
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -ms-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
}
.howToSolve {
    box-shadow: 0 0 35px black;
}
.linkButton {
    text-align: center;
    position: relative;
    border: 1px solid #ffd600;
    /*width: 400px */
    margin: 10px auto;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.linkButton p {
    padding: 12px 30px;
    font-family: MyriadPro, arial;
    font-size: 180%;
    margin: 0;
}
.linkButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.reasonToSolve p {
    text-align: left;
}
.cryteria .cryteriaItem {
    padding-top: 15px;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.cryteria .cryteriaItem .procentBox {
    width: 100%;
    text-align: center;
    border: 1px solid white;
    margin: 0;
}
.cryteria .cryteriaItem .procentBox h3 {
    position: relative;
    margin: 0 20px;
    border-bottom: 1px solid white;
    font-family: MyriadPro, arial;
    font-size: 330%;
}
.cryteria .cryteriaItem .procentBox p {
    position: relative;
    top: 40%;
    margin: 0;
    font-family: MyriadPro, arial;
    font-size: 270%;
}
.cryteria .cryteriaItem .text {
    margin: 15px 0 0 0;
    text-align: left;
}
.cryteria .cryteriaItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.registration {
    background-color: #111111;
    color: #a1a1a1;
    font-family: VantaThin, arial, sans-serif;
    font-size: 220%;
    padding: 40px 0;
}
.registration #teamNameGuide, .registration #member1EmailGuide {
    opacity: 0;
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -ms-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
    transition: opacity 600ms ease;
}
.registration input {
    background-color: #222222;
    border: none;
    padding: 10px 30px;
    width: auto;
    margin: 10px 0;
}
.registration .inpContainer {
    width: 400px;
    margin: 0 auto;
}
.registration .generalInfo {
    border-bottom: 1px solid #222222;
    margin-bottom: 15px;
}
.registration .generalInfo h3 {
    font-size: 300%;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 0;
}
.registration .generalInfo input {
    width: 400px;
}
.registration .optional {
    border-top: 1px solid #222222;
    padding-top: 15px;
    margin-top: 15px;
    overflow: hidden;
    height: auto;
    -webkit-transition: height 600ms ease;
    -moz-transition: height 600ms ease;
    -ms-transition: height 600ms ease;
    -o-transition: height 600ms ease;
    transition: height 600ms ease;
}
.registration .optional .num4, .registration .optional .num5, .registration .optional .num6 {
    display: none;
}
.registration .guidelines {
    text-align: center;
    margin: 5px 0 !important;
}
.registration .profile {
    text-align: center;
    border-left: 1px solid #222222;
    border-right: 1px solid #222222;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.registration .profile h3 {
    margin-bottom: 0;
}
.registration .profile p {
    margin: 0 0 25px 0;
}
.registration .profile ul {
    list-style: none;
}
.registration .profile .courseSel {
    text-align: left;
    width: 333px;
    margin: 0 auto;
}
.registration .profile .courseSel .courseTitle {
    float: left;
}
.registration .profile .courseSel li {
    padding: 0;
    display: inline;
    margin-left: 5px;
}
.registration .profile:hover {
    background-color: rgba(255, 255, 255, 0.02);
}
.registration .submit {
    width: 100%;
}
.registration .submitData, .registration #addPerson {
    width: 100%;
    border: 1px solid #222222;
    margin: 10px 0;
    padding: 10px 30px;
    background: none;
    text-align: center;
    -webkit-transition: background-color 600ms ease;
    -moz-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    -o-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}
.registration .submitData p, .registration #addPerson p {
    margin: 0;
    color: #a1a1a1;
}
.registration .submitData:hover, .registration #addPerson:hover {
    background-color: #222222;
}
.registration .trProfSubm {
    width: 333px;
}
.training {
    overflow: hidden;
}
.training p {
    margin: 20px 0;
}
.training .contProfile {
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    padding-top: 1px;
    padding-bottom: 15px;
    -webkit-transition: background-color 600ms ease, border-color 600ms ease;
    -moz-transition: background-color 600ms ease, border-color 600ms ease;
    -ms-transition: background-color 600ms ease, border-color 600ms ease;
    -o-transition: background-color 600ms ease, border-color 600ms ease;
    transition: background-color 600ms ease, border-color 600ms ease;
}
.training .contProfile p {
    margin: 0;
}
.training .contProfile span {
    font-size: 150%;
    margin: 10px auto;
}
.training .contProfile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.training .ss:hover {
    border-color: #ffd600;
    border-color: #ffd600;
}
.training .imgContainer {
    width: 20em;
    height: 20em;
    margin: 40px auto 20px auto;
    border-radius: 10em;
    overflow: hidden;
}
.training .imgContainer img {
    object-fit: cover;
}
.org h1 {
    text-align: left;
    margin: 0;
    padding: 30px 0 15px 0;
    border-bottom: 4px solid #ffd600;
}
.org #kse {
    border-bottom: 4px solid #1452a5;
}
.org p {
    text-align: left;
    margin: 0;
}
.org .vkButton {
    width: 4em;
    height: 4em;
    margin: 7px 5px 0 0;
    display: inline-block;
}
.contacts {
    overflow: hidden;
}
.contacts p {
    margin: 20px 0;
}
.contacts #lastEmail {
    margin-bottom: 0;
}
.contacts .contProfile {
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    padding-top: 152px;
    padding-bottom: 151px;
    -webkit-transition: background-color 600ms ease, border-color 600ms ease;
    -moz-transition: background-color 600ms ease, border-color 600ms ease;
    -ms-transition: background-color 600ms ease, border-color 600ms ease;
    -o-transition: background-color 600ms ease, border-color 600ms ease;
    transition: background-color 600ms ease, border-color 600ms ease;
}
.contacts .contProfile p {
    margin: 0;
}
.contacts .contProfile span {
    font-size: 150%;
}
.contacts .contProfile:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.contacts .ss:hover {
    border-color: #ffd600;
    border-color: #ffd600;
}
.contacts .kse:hover {
    border-color: #1452a5;
    border-color: #1452a5;
}
.contacts .imgContainer {
    width: 20em;
    height: 20em;
    margin: 40px auto 20px auto;
    border-radius: 10em;
    overflow: hidden;
}
.contacts .imgContainer img {
    object-fit: cover;
}
.contacts .org1 {
    margin-bottom: 20px;
}
.contacts .org2 {
    margin-top: 20px;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #232426;
    box-shadow: 0 0 25px #6d6d6d;
    overflow: hidden;
}
footer p {
    display: inline;
    color: #f2f2f2;
    font-family: VantaThin, arial, sans-serif;
    font-size: 150%;
    margin: 0;
    position: relative;
    margin: 20px 0 20px 0;
}
footer #right {
    float: right;
}
footer #left {
    float: left;
}
footer a {
    color: #f2f2f2;
    -webkit-transition: color 600ms ease;
    -moz-transition: color 600ms ease;
    -ms-transition: color 600ms ease;
    -o-transition: color 600ms ease;
    transition: color 600ms ease;
}
footer a:hover {
    color: #ffe662;
}
.avatarImg {
    margin: 20px auto;
    width: 100%;
    max-width: 250px;
    display: block;
    border: 2px solid #ffd600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
