@font-face {
    font-family: UniSansHeavy;
    src: url('UniSansHeavyCAPS.eot?') format('eot'),
		 url('UniSansHeavyCAPS.ttf')  format('truetype'),
		 url('UniSansHeavyCAPS.otf') format("opentype"),
		 url('UniSansHeavyCAPS.woff') format('woff');	 
 }
@font-face {
	font-family: VantaThin;
	src: url('VantaThin.eot?') format('eot'),
		 url('VantaThin.ttf')  format('truetype'),
		 url('VantaThin.otf') format("opentype"),
		 url('VantaThin.woff') format('woff');		 
 }
@font-face {
	font-family: MyriadPro;
	src: url(MyriadPro-Regular.otf) format("opentype"); 
}
@font-face {
	font-family: corbel;
	src: url('corbel.eot?') format('eot'),
		 url('corbel.ttf')  format('truetype'),
		 url('corbel.otf') format("opentype"),
		 url('corbel.woff') format('woff'); 
}